.translate-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translate-button{
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
}

